name: Build and test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  luarocks:
    name: Build and test with LuaRocks
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - macos-15
        lua_version:
          - "5.1"
          - "5.2"
          - "5.3"
          - "5.4"
          - "luajit"
          - "luajit-openresty"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup 'libgrapheme'
        run: |
          git clone https://git.suckless.org/libgrapheme
          cd libgrapheme
          ./configure
          sudo make install

      - name: Setup 'lua'
        uses: luarocks/gh-actions-lua@v11
        with:
          luaVersion: ${{ matrix.lua_version }}

      - name: Setup 'luarocks'
        uses: luarocks/gh-actions-luarocks@v6

      - name: Build 'luagrapheme'
        run: |
          luarocks
          luarocks make --verbose

      - name: Test 'luagrapheme'
        run: luarocks test

  make:
    name: Build with make
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
        lua_version:
          - "5.1"
          - "5.4"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup 'libgrapheme'
        run: |
          git clone https://git.suckless.org/libgrapheme
          cd libgrapheme
          ./configure
          sudo make install

      - name: Setup 'lua'
        uses: luarocks/gh-actions-lua@v11
        with:
          luaVersion: ${{ matrix.lua_version }}

      - name: Setup 'luarocks'
        uses: luarocks/gh-actions-luarocks@v6

      - name: Install dependencies
        run: |
          luarocks install compat53
          luarocks install busted
          luarocks install lpeg

      - name: Build 'luagrapheme'
        run: |
          make LUA_DIR="$(pwd)/.lua" all && \
            sudo make LUA_VERSION="${{ matrix.lua_version }}" install

      - name: Test 'luagrapheme'
        run: make test

  ubsan:
    name: UBSan
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup 'libgrapheme'
        run: |
          git clone https://git.suckless.org/libgrapheme
          cd libgrapheme
          ./configure
          sudo make install

      - name: Setup 'lua'
        uses: luarocks/gh-actions-lua@v11
        with:
          luaVersion: 5.1

      - name: Setup 'luarocks'
        uses: luarocks/gh-actions-luarocks@v6

      - name: Build 'luagrapheme'
        run: |
          luarocks make --verbose \
            CFLAGS="-g -O1 -fPIC -fsanitize=undefined -fno-sanitize-recover=undefined" \
            LIBFLAG="-shared -fPIC -fsanitize=undefined -fno-sanitize-recover=undefined"

      - name: Test 'luagrapheme'
        run: luarocks test
