name: Build and test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  luarocks:
    name: Build and test with LuaRocks
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - macos-15
        lua_version:
          - "5.1"
          - "5.2"
          - "5.3"
          - "5.4"
          - "luajit"
          - "luajit-openresty"

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup 'libgrapheme'
        run: |
          git clone https://git.suckless.org/libgrapheme
          cd libgrapheme
          ./configure
          sudo make install

      - name: Setup 'lua'
        uses: leafo/gh-actions-lua@v11
        with:
          luaVersion: ${{ matrix.lua_version }}

      - name: Setup 'luarocks'
        uses: leafo/gh-actions-luarocks@v5
        with:
          luarocksVersion: "3.10.0"

      - name: Build 'luagrapheme'
        run: |
          luarocks
          luarocks make

      - name: Test 'luagrapheme'
        run: luarocks test

  ubsan:
    name: UBSan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup 'libgrapheme'
        run: |
          git clone https://git.suckless.org/libgrapheme
          cd libgrapheme
          ./configure
          sudo make install

      - name: Setup 'lua'
        uses: leafo/gh-actions-lua@v11
        with:
          luaVersion: 5.1

      - name: Setup 'luarocks'
        uses: leafo/gh-actions-luarocks@v5
        with:
          luarocksVersion: "3.10.0"

      - name: Build 'luagrapheme'
        run: |
          luarocks make \
            CFLAGS="-g -O1 -fPIC -fsanitize=undefined -fno-sanitize-recover=undefined" \
            LIBFLAG="-shared -fPIC -fsanitize=undefined -fno-sanitize-recover=undefined"

      - name: Test 'luagrapheme'
        run: luarocks test
